

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.container-allround {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    min-height: 80vh;
}

.book-card{
    opacity: 0.9;
    transition: all 500ms;
}

.book-card:hover{
    cursor: pointer;
    opacity: 1;
    transform: scaleY(1.001) scaleX(1.001);
}