@model int

@{
    ViewBag.Title = "404 Error";
}

<div class="content container-allround">
    <div>
        <h4 class="mb-2 text-danger">404 Not Found Error:</h4>
        <h5 class="text-danger">
            Book with id: @Model not found...
        </h5>
        <a class="btn btn-secondary" asp-controller="Books" asp-action="Index">Click here to see all books</a>
    </div>
</div>