@model CustomerBookViewModel


@{
    ViewData["Title"] = "Add new Loan";
}

<h3 class="mt-2 mb-1">Add new Loan</h3>
<form asp-controller="Customers" method="post" asp-action="AddNewLoan"
      class="mt-3">

    @*<div class="form-group">
            <label for="Name">Name</label>
            <input class="form-control" id="nameInput" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>*@

    <div class="form-group">
        <select asp-for="CustomerId" asp-items="@(new SelectList(Model.Customers, nameof(Model.CustomerId), nameof(Model.Customer.Name)))"></select>
    </div>

    <div class="form-group">
        <select asp-for="BookId" asp-items="@(new SelectList(Model.Books, nameof(Model.BookId), nameof(Model.Book.Title)))"></select>
    </div>
    <button type="submit" class="btn btn-primary">Add new loan</button>
    <a class="btn btn-danger" asp-controller="Customers" asp-action="Index">Cancel</a>
</form>