@{
    ViewBag.Title = "404 Error";
}

<div class="content container-allround">
    <div>
        <h4 class="mb-2 text-danger">404 Not Found Error:</h4>
        <h5 class="text-danger">
            No customers found...
        </h5>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Click to go back to main menu</a>
    </div>
</div>