@model IEnumerable<Models.Customer>
@{ 
    ViewData["Title"] = "Customers";
}

<h1 class="display-4 mb-2 mt-5">Customers</h1>

<ul class="mt-3 mb-3">
    @foreach (var customer in Model)
    {
        <li>
            <a class="lead text-white" asp-route-id="@customer.CustomerId" asp-controller="Customers" asp-action="Customer">@customer.Name</a>
        </li>

    }
</ul>

<div>
    <a asp-controller="Customers" asp-action="Create" class="btn btn-secondary">Add new Customer</a>
</div>


